<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<title>Image Uploading</title>
</head>

<body>
	<h1>Uploaded Images</h1>
	<div>
	<% items.forEach(function(image) { %>
	<div>
		<div>
		<img width="100px" height="100px"
			src="data:image/<%=image.img.contentType%>;base64,
					<%=image.img.data.toString('base64')%>"
		/>
		<div>
			<h5><%= image.name %></h5>

			<p><%= image.desc %></p>
		</div>
		</div>
	</div>
	<% }) %>
	</div>
    <h1><a href="/show">Uploaded Images</a></h1>
	<h1><a href="/form">Form page</a></h1>
	<h1><a href="/show">Uploaded Images</a></h1>
	<h1><a href="/show">Uploaded Images</a></h1>
</body>
</html>
